{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <a href="{% url 'blog:post_list' %}" class="btn-flat">
        <i class="material-icons left">arrow_back</i>Back to Posts
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h2>{{ post.title }}</h2>
          <div class="post-meta" style="margin-bottom: 20px;">
            <i class="material-icons tiny">person</i> {{ post.author }}
            {% if post.author_user %}
              <a href="{% url 'blog:user_profile' %}?user={{ post.author_user.fingerprint }}" class="chip" title="View author profile">
                <i class="material-icons tiny">person</i> {{ post.author_user.get_short_fingerprint }}
              </a>
            {% endif %}
            <i class="material-icons tiny">access_time</i> {{ post.created_at|date:"F d, Y" }}
            {% if post.category %}
              <i class="material-icons tiny">folder</i> 
              <a href="{% url 'blog:category_detail' post.category.slug %}">{{ post.category.name }}</a>
            {% endif %}
            {% if post.signature_valid %}
              <span class="chip green white-text" title="Post signature verified">
                <i class="material-icons tiny">verified</i> Verified
              </span>
            {% elif post.signature %}
              <span class="chip red white-text" title="Post signature invalid">
                <i class="material-icons tiny">error</i> Invalid Signature
              </span>
            {% else %}
              <span class="chip grey white-text" title="Post not signed">
                <i class="material-icons tiny">info</i> Not Signed
              </span>
            {% endif %}
          </div>
          
          {% if post.tags.all %}
            <div style="margin-bottom: 20px;">
              {% for tag in post.tags.all %}
                <span class="chip">{{ tag.name }}</span>
              {% endfor %}
            </div>
          {% endif %}
          
          {% if post.excerpt %}
            <div class="grey lighten-4" style="padding: 15px; margin-bottom: 20px; border-left: 4px solid #7b1fa2;">
              <em>{{ post.excerpt }}</em>
            </div>
          {% endif %}
          
          <div class="post-content">
            {{ post.content|linebreaks }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% if related_posts %}
    <div class="row">
      <div class="col s12">
        <h5>Related Posts</h5>
        {% for related in related_posts %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <a href="{% url 'blog:post_detail' related.slug %}">{{ related.title }}</a>
              </span>
              <p class="post-meta">{{ related.created_at|date:"M d, Y" }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
