<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Increment Number</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#incrementButton").click(function(){
            $.get("/increment/", function(data){
                $("#number").text(data.number);
            });
        });
    });
    </script>
</head>
<body>
    <button id="incrementButton">Increment</button>
    <p id="number">{{ number }}</p>
</body>
</html>
